.navigation .head {
    height: 6vh;
    background-color: #2e2e2e;
  }

.navigation .nav {
    padding-top: 1vw;
    padding-left: 15vw;
    display: flex;
    background-color: white;
  }
  .navigation .nav .navbar .ul .li {
    padding-bottom: 1vw;
    float: left;
    display: inline;
  }
  
  .navigation .nav .navbar .ul .li .p {
    padding-top: 0.5vw;
    padding-left: 6vw;
    color: #000;
    text-decoration: none;
  }